[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=~/myvenv/bin/uwsgi -i ~/HBTI/backend/.config/uwsgi/backend.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target